    <hr />
    <div id="footer">
      &copy; 2017 Online Northwest
      <br />
      <div id="social">
        <ul>
          {% if site.instagram_username %}<li>{% include icon-instagram.html username=site.instagram_username %}</li>{% endif %}
          {% if site.twitter_username %}<li>{% include icon-twitter.html username=site.twitter_username %}</li>{% endif %}
          {% if site.facebook_username %}<li>{% include icon-facebook.html username=site.facebook_username %}</li>{% endif %}
        </ul>
      </div>
    </div>
  </div>
</body>
</html>